$mainColor: #9ACACC;
$textGray: #6c757d;

/* other color */
$white: #ffffff;
$black: #000000;
$red: #f00000;

/* font */
//$fontStyle: 'Oswald', sans-serif;
$fontPrimary: 'Saira Extra Condensed', sans-serif;
$fontSecondary: 'Roboto', sans-serif;